* {
  box-sizing: border-box;
}

.Interface {
  position: relative;
  display: inline-block;
}

.interfaceContainer {
  position: absolute;

  display: flex;

  width: 100%;

  align-items: center;

  padding: 20px;
}

#playerHealth {
  background-color: blue;
  height: 50px;
  width: 100%;
}

#timer {
  background: orange;
  width: 100px;
  height: 100px;

  flex-shrink: 0;
}

#eHealthLock {
  position: relative;
  height: 50px;
  width: 100%;
}

#enemyHealth {
  background-color: grey;
  height: 50px;
}

#eHealthLock2 {
  position: absolute;
  background-color: red;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
